/*STYLING FOR SIDENE*/

h1
{
color:black;
text-align:left;
font-family:Arial;
font-size:18pt;
}

h2
{
color:black;
text-align:left;
font-family:Arial;
font-size:16pt;
}

h3
{
color:black;
text-align:left;
font-family:Arial;
font-size:14pt;
}

h4
{
color:black;
text-align:left;
font-family:Arial;
font-size:13pt;
}

h5
{
color:black;
text-align:left;
font-family:Arial;
font-size:13pt;
}

h6
{
color:black;
text-align:left;
font-family:Arial;
font-size:13pt;
}

p, td
{
color:black;
text-align:left;
font-family:Arial;
font-size:10pt;
}

th
{
color:black;
text-align:left;
font-family:Arial;
font-size:13pt;
text-decoration:bold;
background-color:#E9D6D6;
}

.center
{
margin-left:auto;
margin-right:auto;
}

ul
{
color:black;
text-align:left;
font-family:Arial;
font-size:10pt;
list-style-type:disc;
line-height:150%;
}

ol
{
color:black;
text-align:left;
font-family:Arial;
font-size:10pt;
list-style-type:armenian;
line-height:150%;
}

a:link {color:blue;}
a:visited {color:blue;}
a:hover {color:red;}
a {text-decoration:none;}

a.dato
{
color:#999999;
text-align:left;
font-family:Arial;
font-size:13pt;
}