/*STYLING FOR MENYEN*/

body
{
background-image:url('gradient1.png');
background-repeat:repeat-x;
} 

h1
{
color:black;
text-align:left;
font-family:Arial;
font-size:26pt;
}

h2
{
color:black;
text-align:left;
font-family:Arial;
font-size:24pt;
}

h3
{
color:black;
text-align:left;
font-family:Arial;
font-size:18pt;
}

h4
{
color:black;
text-align:left;
font-family:Arial;
font-size:14pt;
}

h5
{
color:black;
text-align:left;
font-family:Arial;
font-size:13pt;
}

h5.ape
{
color:black;
text-align:right;
font-family:Arial;
font-size:13pt;
}

h6
{
color:black;
text-align:left;
font-family:Arial;
font-size:11pt;
}

p, td
{
color:black;
text-align:left;
font-family:Arial;
font-size:10pt;
}

.center
{
margin-left:auto;
margin-right:auto;
}

ul
{
color:black;
text-align:left;
font-family:Arial;
font-size=10pt;
list-style-type:circle;
}

ol
{
color:black;
text-align:left;
font-family:Arial;
font-size:10pt;
list-style-type:decimal;
}

li
{
color:black;
text-align:left;
font-family:Arial;
font-size:10pt;
background-repeat: no-repeat; 
padding-left: 5px; 
}


a:link {color:#730000;}
a:visited {color:#730000;}
a:hover {color:red;}
a {text-decoration:none;font-size:15pt;}


