.timestamp {
	color: #999999;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: #1c1a1a;
}

.sponsor {
	max-height: 150px;
	width: auto;
}

#footer_nito {
  padding-top: 22px;
  padding-bottom: 21px;
}